/* html {
    cursor: url("../images/curosr-classic-1-06.cur"), default;
} */
html {
    --main-color: black;
    --secondary-color: white;
}

html[data-theme="light"] {
    --main-color: white;
    --secondary-color: black;
}

html[data-theme="gold"] {
    --main-color: black;
    --secondary-color: #DBA828;
}

html,
body {
  height: 100%;
--corner: 20px;
}

:target {
    scroll-margin-top: 70px;
}

*::selection {
    background: var(--secondary-color);
    color: var(--main-color);
}

::-webkit-scrollbar {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
    border: 1px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color); 
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
}

body {
    /* background-attachment: fixed; */
    font-family: 'Major Mono Display', monospace;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-12.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    color: var(--secondary-color); 
    animation: background 300s infinite linear;
    }

header {
    height: 70px;
    background-color: var(--main-color);
    border-bottom: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    background-color: var(--main-color);
    border-top: 2px solid var(--secondary-color);
    padding: 1% 0;
    margin-top: auto;
}

nav {
    width: 100%;
    margin-right: 10.5%;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.menu {
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.menu-button{
    display: none;
}

.arrow-down {
    background-image: url(../images/arrow-down-classic-36.svg);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
    
h1, h2, h4, h5, h6{
    text-align: center;
}

h4 {
    margin: 0;
}

h1 {
    margin-left: 5rem;
    font-size: 2rem;
}

main h2 {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.based {
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.projects h2 {
    font-size: 2rem;
    margin: 1rem 4rem 0 0;
}
h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.title {
    font-size: 3rem;
}

.boxes {
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.boxes-container {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 20%;
    height: 70px;  
}

/*    EXPERIMENTAL  CORNERS   */
.corner-nav {
    --all:0px;
    --b: var(--secondary-color);
    -webkit-background:
    linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 0px)    ,transparent 0) top left    /50% 50%,
    var(--img,red);
    background:
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 0px)    ,transparent 0) top left    /50% 50%,
       var(--img,red);
       -webkit-background-origin:border-box;
       background-origin:border-box;
       -webkit-background-repeat:no-repeat;
       background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
       mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
     mask-repeat:no-repeat;
}

.corner-button {
        --all:0px;
        --b: var(--secondary-color); 
        -webkit-background:

        linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
        linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
       
        var(--img,red);
        background:
          
           linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
           linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
          
           var(--img,red);
           -webkit-background-origin:border-box;
           background-origin:border-box;
           -webkit-background-repeat:no-repeat;
           background-repeat:no-repeat;
        -webkit-mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
           mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
         -webkit-mask-size:50.5% 50.5%;
         mask-size:50.5% 50.5%;
         -webkit-mask-repeat:no-repeat;
         mask-repeat:no-repeat;
  }

  .corner-box {
    --all:0px;
    --b:var(--secondary-color);
    -webkit-background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
    background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
       -webkit-background-origin:border-box;
       background-origin:border-box;
       -webkit-background-repeat:no-repeat;
       background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
       mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
     mask-repeat:no-repeat;
  }

  .corner-box-projects {
    --all:0px;
    --b:var(--secondary-color);
    -webkit-background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 1.5px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
    background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 1.5px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
       -webkit-background-origin:border-box;
       background-origin:border-box;
       -webkit-background-repeat:no-repeat;
       background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
       mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
     mask-repeat:no-repeat;
  }

  .corner-box-project {
    --all:0px;
    --b:var(--secondary-color);
    -webkit-background:
    linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
    linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
    linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
    linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
    var(--img,var(--main-color));
    background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
       -webkit-background-origin:border-box;
       background-origin:border-box;
       -webkit-background-repeat:no-repeat;
       background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
       mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
     mask-repeat:no-repeat;
  }

  .corner-box-menu {
    --all:0px;
    /* --b:var(--main-color); */
    -webkit-background:
    linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
    linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
    linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
    linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
    var(--img,var(--main-color));
    background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 2.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,var(--main-color));
       -webkit-background-origin:border-box;
    background-origin:border-box;
    -webkit-background-repeat:no-repeat;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
       mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
     mask-repeat:no-repeat;
  }

/*    END OF EXPERIMENTAL    */

.logo {
    margin-left: 1rem;
    width: 55px;
    height: 55px;
    background-image: url(../images/Title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: pulsate 8s linear 1s infinite;
}

.logo-title {
    background-image: url(../images/logo-title-23.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 70px;
    margin-top: 10px;
    margin-left: 23px;
}

.border-left {
    transform: skew(30deg);
    margin: 0 20px;
    width: 10px;
    border-right: 2px solid var(--secondary-color);
    height: 70px;
}

.border-right {
    transform: skew(-30deg);
   position: absolute;
   margin-right: 100px;
    width: 10px;
    border-right: 2px solid var(--secondary-color);
    height: 70px;
}

/* .button {
    padding: 5px;
    animation: navi 0.3s forwards;
    transform: skew(30deg);
    position: relative;
    border: 2px solid transparent;
}

.button:hover {
    animation: uncontact 0.3s forwards;
} */

.buttons {
    padding: 5px;
    /* animation: navis 0.3s forwards; */
    border: 2px solid transparent;
}

/* .buttons:hover {
    animation: uncontacts 0.3s forwards;
} */

.box {
    border: 2px solid var(--secondary-color);
    border-radius: 3px;
    background-color: var(--main-color);
    width: 30%;
    height: 75%;
}


.switch-container {
    display: flex;
    width: 130px;
    justify-content: space-around;
    align-items: center;
}

.switch {
    background-image: url(../images/portfolio-triangle-05.svg);
    width: 60px;
    height: 60px;
  margin-left: -60px;;
  background-repeat: no-repeat;
  animation: switch-unchange 0.3s forwards;
}

.switch-title {
    font-weight: bold;
    transform: rotate(300deg);
    font-size: 1.1rem;
}

/* .switch:hover {
    background-repeat: no-repeat;
    animation: switch-change 0.3s forwards;
    cursor: pointer;
}

.switch:active {
    animation: switch-rotate 0.3s forwards;
} */

.contact {
border: 2px solid var(--secondary-color);
background-color: var(--secondary-color);
color: var(--main-color);
width: 150px;
height: 50px;
border-radius: 1px;
padding: 0.5rem;
text-decoration: none;
font-size: 1.5rem;
font-weight: 900;
margin-top: 8%;
margin-left: 10%;
display: flex;
align-items: center;
justify-content: center;
/* animation: uncontact 0.3s forwards; */
}

/* .contact:hover {
   animation: contact 0.2s forwards;
}

.contact:active {
   transform: scale(0.95);
} */

.dissapear {
    animation: diss 3s infinite ease-in;
}

/*     PROJECTS     */

.projects-container {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-image-container {
    width: 56.25%;
    height: 100%;
    background-color: var(--secondary-color);
    background-size: cover;
    border: 0.96px solid var(--secondary-color);
    border-radius: 1px;
    display: flex;
    align-items: center;
}

.previous-project {
    width: 0%;
    height: 0%;
}

.projects a {
    width: 100%;
    height: 100%;
}

.current-project-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

#pr-1 {
    background-image: url(../images/downsample-28.jpg);
}

#pr-2 {
    background-image: url(../images/downsample-30.jpg);
}

#pr-3 {
    background-image: url(../images/downsample-33.jpg);
}

#pr-4 {
    background-image: url(../images/downsample-34.jpg);
}

#pr-5 {
    background-image: url(../images/downsample-35.jpg);
}

.curr-name {
    width: 50%;
    margin-left: 32%;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
}

.curr-description {
    width: 70%;
    margin-left: 22%;
    margin-top: 4%;
    overflow: hidden;
}

.hide {
    display: none;
    overflow: hidden;
}

.text-container {
    display: flex;
   flex-direction: column;
   user-select: none;
}

.next-project {
    width: 0%;
    height: 0%;
}

.pr-arrow {
    width: 10%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

.left-arrow {
    animation: left-arrow-unhover 0.3s forwards;
}

.left-arrow:hover {
    animation: left-arrow-hover 0.3s forwards; 
}

.left-arrow:active {
    animation: left-arrow-active .1s forwards linear; 
}

.right-arrow {
    animation: right-arrow-unhover 0.3s forwards;
}

.right-arrow:hover {
    animation: right-arrow-hover 0.3s forwards;  
}

.right-arrow:active {
    animation: right-arrow-active .1s forwards linear;   
}

/*      SKILLS      */

.skills {
    display: flex;
    width: 60%;
    background-color: var(--main-color);
    height: 100px;
    align-items: center;
    margin: 5% auto;
    justify-content: space-around;
    border: 2px solid transparent;
    border-radius: 1px;
}



.skill {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.skills-padding {
    margin-bottom: 1.5%;
}

.sk-html {
    background-image: url(../images/skill-html-classic-box-07.svg); 
}

.sk-css {
    background-image: url(../images/skill-classic-09.svg)
}

.sk-js {
    background-image: url(../images/skill-classic-11.svg)
}

.sk-node {
    background-image: url(../images/skill-14.svg)
}

.sk-git {
    background-image: url(../images/skill-16.svg)
}

.sk-github {
    background-image: url(../images/skill-18.svg)
}

.sk-chrome {
    background-image: url(../images/skill-20.svg)
}

.sk-terminal {
    background-image: url(../images/skill-22.svg)
}

/*      PROJECTS PAGE      */

.projects-main-section {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pr-page-container {
    margin-top: 5%;
    width: 60%;
    height: 55%;
    border: 1px solid var(--secondary-color);
}

.pr-page-box {
    width: 30%;
    height: 20vw;
    margin-bottom: 2%;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pr-page-box a,
.pr-page-box h2 {
    margin: 2% 10% 0 0;
    font-weight: bold;
}
.pr-page-box h3 {
    margin: 4% 10% 2% 0;
    font-weight: 400;
}

.hidden {
    visibility: hidden;
}

/*      CONTACT PAGE      */

.contact-main {
    height: 83.9vh;
}

.margin {
    padding-top: 4%;
}

.contact-box {
    background-color: var(--main-color);
    width: 80%;
    height: 79%;
    margin: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-main h1 {
    margin-left: 13%;
    margin-top: 2%;
}

.contact-main h2 {
    font-weight: bold;;
}

.contact-container {
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    margin-bottom: 2%;
}

.contact-box a {
    width: 110px;
    height: 100%;
}

.contact-box-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.linked-in {
    background-image: url(../images/linkedin-classic.svg);
}

.mail {
    background-image: url(../images/mail-classic.svg);
}

/*     ANIMATION     */

@keyframes background {
    0% {
        background-position: center;
    }

    25% {
        background-position: right;
    }

    50% {
        background-position: center;
    }

    75% {
        background-position: left;
    }

    100% {
        background-position: center;
    }
}

@keyframes switch-rotate {
0% {
    background-image: url(../images/switch-hover-04.svg);
}

    100% {
        background-image: url(../images/switch-hover-04.svg);
        transform: rotate(240deg);
        transform-origin: 50% 66%;
        margin-bottom: 7px;
    }
}

@keyframes switch-rotate-light {
    0% {
        background-image: url(../images/light-theme/switch-light-hover-39.svg);
    }
    
        100% {
            background-image: url(../images/light-theme/switch-light-hover-39.svg);
            transform: rotate(240deg);
            transform-origin: 50% 66%;
            margin-bottom: 7px;
        }
    }

    @keyframes switch-rotate-gold {
        0% {
            background-image: url(../images/gold-theme/switch-gold-hover.svg);
        }
        
            100% {
                background-image: url(../images/gold-theme/switch-gold-hover.svg);
                transform: rotate(240deg);
                transform-origin: 50% 66%;
                margin-bottom: 7px;
            }
        }

@keyframes switch-rotate-2 {
    0% {
        background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
    }
    
        100% {
            background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
            transform: rotate(240deg);
            transform-origin: 50% 66%;
            margin-bottom: 7px; 
        }
    }

@keyframes switch-unchange {
    0% {
        background-image: url(../images/switch-hover-04.svg);
    }

    100% {
        background-image: url(../images/portfolio-triangle-05.svg);
    }
}

@keyframes switch-change {
    0% {
        background-image: url(../images/portfolio-triangle-05.svg);
    }

    100% {
        background-image: url(../images/switch-hover-04.svg);
    }
}

@keyframes switch-change-light {
    0% {
        background-image: url(../images/light-theme/switch-light-37.svg);
    }

    100% {
        background-image: url(../images/light-theme/switch-light-hover-39.svg);
    }
}

@keyframes switch-unchange-light {
    0% {
        background-image: url(../images/light-theme/switch-light-hover-39.svg);
    }

    100% {
        background-image: url(../images/light-theme/switch-light-37.svg);
    }
}

@keyframes switch-change-gold {
    0% {
        background-image: url(../images/gold-theme/switch-gold.svg);
    }

    100% {
        background-image: url(../images/gold-theme/switch-gold-hover.svg);
    }
}

@keyframes switch-unchange-gold {
    0% {
        background-image: url(../images/gold-theme/switch-gold-hover.svg);
    }

    100% {
        background-image: url(../images/gold-theme/switch-gold.svg);
    }
}
@keyframes navis {
    0% {
        background-color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        color: var(--main-color);
    }
    100% {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: var(--secondary-color);
    }
}

@keyframes uncontacts {
    0% {
        background-color: var(--main-color);
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
        --all:0px;
        --b: var(--secondary-color);

        background:
          
           linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
           linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
          
           var(--img,var(--main-color));
        background-origin:border-box;
        background-repeat:no-repeat;
        -webkit-mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,var(--secondary-color) 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),var(--secondary-color) 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,var(--secondary-color) 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,var(--secondary-color) 0) top right;
         -webkit-mask-size:50.5% 50.5%;
         -webkit-mask-repeat:no-repeat;
    }
    
    100% {
        background-color: var(--secondary-color);
        color: var(--main-color);
}}

/* @keyframes navis-light {
    0% {
        background-color: black;
        border: 2px solid black;
        color: white;
    }
    100% {
        background-color: white;
        border: 2px solid white;
        color: black;
    }
}

@keyframes uncontacts-light {
    0% {
        background-color: white;
        border: 2px solid black;
        color: black;
        --all:0px;
        --b: black;

        background:
          
           linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
           linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
          
           var(--img,white);
        background-origin:border-box;
        background-repeat:no-repeat;
        -webkit-mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
         -webkit-mask-size:50.5% 50.5%;
         -webkit-mask-repeat:no-repeat;
    }
    
    100% {
        background-color: black;
        color: white;
}} */

@keyframes navi {
    0% {
        background-color: var(--secondary-color);
        outline: 2px solid var(--main-color);
        color: var(--main-color);
    }
    100% {
        background-color: var(--main-color);
        color: var(--secondary-color);
    }
}

@keyframes uncontact {
    0% {
        background-color: var(--main-color);
        outline: 2px solid var(--secondary-color);
        color: var(--secondary-color);
    }
    
    100% {
        background-color: var(--secondary-color);
        color: var(--main-color);
    }
}

@keyframes contact {
    100% {
        background-color: var(--main-color);
        outline: 2px solid var(--secondary-color);
        color: var(--secondary-color);
    }
}

/* @keyframes contact-light {
    100% {
        background-color: white;
        outline: 2px solid black;
        color: black;
    }
}

@keyframes uncontact-light {
    0% {
        background-color: white;
        outline: 2px solid black;
        color: black;
    }
    
    100% {
        background-color: black;
        color: white;
    }
} */

@keyframes diss {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pulsate {
    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.0);
    }
}

@keyframes left-arrow-hover {
    0% {
        background-image: url(../images/arrow-classic-left.svg);
    }

    100% {
        background-image: url(../images/light-arrow-left.svg);
    }
}

@keyframes left-arrow-unhover {
    0% {
        background-image: url(../images/light-arrow-left.svg);
    }

    100% {
        background-image: url(../images/arrow-classic-left.svg);
    }
}

@keyframes left-arrow-active {
    0% {
        background-image: url(../images/light-arrow-left.svg);
       position: relative;
        left: 0%;
    }

    50% {
        left: -2%;
    }
    
    100% {
       position: relative;
       left: 0.1%;
       background-image: url(../images/arrow-classic-left.svg);
    }
}

@keyframes right-arrow-hover {
    0% {
        background-image: url(../images/arrow-classic-right.svg);
    }

    100% {
        background-image: url(../images/light-arrow-right.svg);
    }
}

@keyframes right-arrow-unhover {
    0% {
        background-image: url(../images/light-arrow-right.svg);
    }

    100% {
        background-image: url(../images/arrow-classic-right.svg);
    }
}

@keyframes right-arrow-active {
    0% {
        background-image: url(../images/light-arrow-right.svg);
       position: relative;
        right: 0%;
    }

    50% {
        right: -2%; 
    }
    
    100% {
       position: relative;
       right: 0.01%;
       background-image: url(../images/arrow-classic-right.svg);
    }
}

@keyframes left-arrow-hover-light {
    0% {
        background-image: url(../images/light-arrow-left.svg);
    }

    100% {
        background-image: url(../images/arrow-classic-left.svg);
        
    }
}

@keyframes left-arrow-unhover-light {
    0% {
        background-image: url(../images/arrow-classic-left.svg);
    }

    100% {
        background-image: url(../images/light-arrow-left.svg);
        
    }
}

@keyframes left-arrow-active-light {
    0% {
        background-image: url(../images/arrow-classic-left.svg);
        
       position: relative;
        left: 0%;
    }

    50% {
        left: -2%;
    }
    
    100% {
       position: relative;
       left: 0.1%;
       background-image: url(../images/light-arrow-left.svg);
    }
}

@keyframes right-arrow-hover-light {
    0% {
        background-image: url(../images/light-arrow-right.svg);
    }

    100% {
        background-image: url(../images/arrow-classic-right.svg);
     
    }
}

@keyframes right-arrow-unhover-light {
    0% {
        background-image: url(../images/arrow-classic-right.svg);
    }

    100% {
        background-image: url(../images/light-arrow-right.svg);
        
    }
}

@keyframes right-arrow-active-light {
    0% {
       background-image: url(../images/arrow-classic-right.svg);
       position: relative;
        right: 0%;
    }

    50% {
        right: -2%; 
    }
    
    100% {
       position: relative;
       right: 0.01%;
       background-image: url(../images/light-arrow-right.svg);
    }
}

@keyframes left-arrow-hover-gold {
    0% {
        background-image: url(../images/gold-theme/left-arrow-gold.svg);
    }

    100% {
        background-image: url(../images/gold-theme/left-arrow-hover-gold.svg);
        
    }
}

@keyframes left-arrow-unhover-gold {
    0% {
        background-image: url(../images/gold-theme/left-arrow-hover-gold.svg);
    }

    100% {
        background-image: url(../images/gold-theme/left-arrow-gold.svg);
        
    }
}

@keyframes left-arrow-active-gold {
    0% {
        background-image: url(../images/gold-theme/left-arrow-hover-gold.svg);
        
       position: relative;
        left: 0%;
    }

    50% {
        left: -2%;
    }
    
    100% {
       position: relative;
       left: 0.1%;
       background-image: url(../images/gold-theme/left-arrow-hover-gold.svg);
    }
}

@keyframes right-arrow-hover-gold {
    0% {
        background-image: url(../images/gold-theme/right-arrow-gold.svg);
    }

    100% {
        background-image: url(../images/gold-theme/right-arrow-hover-gold.svg);
     
    }
}

@keyframes right-arrow-unhover-gold {
    0% {
        background-image: url(../images/gold-theme/right-arrow-hover-gold.svg);
    }

    100% {
        background-image: url(../images/gold-theme/right-arrow-gold.svg);
        
    }
}

@keyframes right-arrow-active-gold {
    0% {
       background-image: url(../images/gold-theme/right-arrow-hover-gold.svg);
       position: relative;
        right: 0%;
    }

    50% {
        right: -2%; 
    }
    
    100% {
       position: relative;
       right: 0.01%;
       background-image: url(../images/gold-theme/right-arrow-hover-gold.svg);
    }
}

@keyframes skills-accent {
    0% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid var(--secondary-color);
    }

    100% {
        border: 2px solid transparent;
    }
}

/* @keyframes skills-accent-light {
    0% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid black;
    }

    100% {
        border: 2px solid transparent;
    }
} */

@keyframes linked-in-hover {
    0% {
        background-image: url(../images/linkedin-classic.svg);
    }

    100% {
        background-image: url(../images/linked-in-hover.svg);
    }
}

@keyframes linked-in-unhover {
    0% {
        background-image: url(../images/linked-in-hover.svg);
    }

    100% {
        background-image: url(../images/linkedin-classic.svg);
    }
}

@keyframes mail-hover {
    0% {
        background-image: url(../images/mail-classic.svg);
    }

    100% {
        background-image: url(../images/mail-hover.svg)
    }
}

@keyframes mail-unhover {
    0% {
        background-image: url(../images/mail-hover.svg);
    }

    100% {
        background-image: url(../images/mail-classic.svg);
    }
}

@keyframes github-hover {
    0% {
        background-image: url(../images/skill-18.svg);
    }

    100% {
        background-image: url(../images/github-outline.svg);
    }
}

@keyframes github-unhover {
    0% {
        background-image: url(../images/github-outline.svg);
    }

    100% {
        background-image: url(../images/skill-18.svg);
    }
}

    @keyframes linked-in-light-hover {
        0% {
            background-image: url(../images/light-theme/linked-in-light.svg)
        }

        100% {
            background-image: url(../images/light-theme/linked-in-hover-light.svg);
        }
    }

    @keyframes linked-in-light-unhover {
        0% {
            background-image: url(../images/light-theme/linked-in-hover-light.svg);
        }

        100% {
            background-image: url(../images/light-theme/linked-in-light.svg);
        }
    }

    @keyframes mail-light-hover {
        0% {
            background-image: url(../images/light-theme/mail-light.svg)
        }

        100% {
            background-image: url(../images/light-theme/mail-hover-light.svg);
        }
    }

    @keyframes mail-light-unhover {
        0% {
            background-image: url(../images/light-theme/mail-hover-light.svg);
        }

        100% {
            background-image: url(../images/light-theme/mail-light.svg);
        }
    }

    @keyframes github-light-hover {
        0% {
            background-image: url(../images/light-theme/sk-github-light.svg);
        }

        100% {
            background-image: url(../images/light-theme/github-outline-light.svg);
        }
    }

    @keyframes github-light-unhover {
        0% {
            background-image: url(../images/light-theme/github-outline-light.svg);
        }

        100% {
            background-image: url(../images/light-theme/sk-github-light.svg);
        }
    }

    @keyframes linked-in-gold-hover {
        0% {
            background-image: url(../images/gold-theme/linked-in-gold.svg)
        }

        100% {
            background-image: url(../images/gold-theme/linked-in-hover-gold.svg);
        }
    }

    @keyframes linked-in-gold-unhover {
        0% {
            background-image: url(../images/gold-theme/linked-in-hover-gold.svg);
        }

        100% {
            background-image: url(../images/gold-theme/linked-in-gold.svg);
        }
    }

    @keyframes mail-gold-hover {
        0% {
            background-image: url(../images/gold-theme/mail-gold.svg)
        }

        100% {
            background-image: url(../images/gold-theme/mail-hover-gold.svg);
        }
    }

    @keyframes mail-gold-unhover {
        0% {
            background-image: url(../images/gold-theme/mail-hover-gold.svg);
        }

        100% {
            background-image: url(../images/gold-theme/mail-gold.svg);
        }
    }

    @keyframes github-gold-hover {
        0% {
            background-image: url(../images/gold-theme/sk-github-gold.svg);
        }

        100% {
            background-image: url(../images/gold-theme/github-outline-gold.svg);
        }
    }

    @keyframes github-gold-unhover {
        0% {
            background-image: url(../images/gold-theme/github-outline-gold.svg);
        }

        100% {
            background-image: url(../images/gold-theme/sk-github-gold.svg);
        }
    }
/*      MEDIA QUERIES      */

 @media only screen and (max-width: 1470px) {
    body { 
        background-size: cover;
        background-attachment: fixed;   
    }
    
    .menu {
        width: 90%;
    }

    h1 {
        font-size: 1.8rem;
    }

    main h2 {
        font-size: 1.4rem;
    }

    strong {
        font-size:  1.8rem;
    }

    .curr-description {
        margin-top: 2%;
    }

    .pr-page-box h2 {
      font-size:   1.6rem;
    }
    
    .contact-main h1 {
        font-size: 2rem;
    } 

    .contact-main h2 {
        font-size: 1.6rem;
    } 

   
 }

 @media only screen and (max-width: 1350px) {
    nav  {
        font-size: 1.5rem;
        margin-right: 5%;
    }

    h1 {
        font-size: 1.6rem;
        margin-left: 15%;
    }

    main h2 {
        font-size: 1.2rem;
    }

    strong {
        font-size:  1.6rem;
    }

    .curr-description {
        margin-top: 1%;
    }

    .curr-name {
        margin-top: 2%;
    }

    .logo-title {
        height: 50px;
    }
} 



 @media only screen and (max-width: 1200px) {
    

    .contact-main {
        height: 100vh;
    }

    .based {
        font-size: 1rem;
        margin-left: 5%;
    }

    .pr-page-box h3 {
       font-size: 1.17rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .contact {
        padding: 1px;
    }

    h1 {
        font-size: 1.4rem;
        margin-left: 15%;
    }

    main h2 {
        font-size: 1rem;
    }

    strong {
        font-size:  1.4rem;
    }

    .curr-description {
        margin-top: 1%;
        font-size: 0.75rem;
    }

    .curr-name {
        margin-top: 2%;
        font-size: 1rem;
    }

    .logo-title {
        height: 50px;
    }

    .projects h2 {
        margin-top: 1%;
    }

    .boxes {
        height: 90%;
    }

    .box {
        width: 40%;
        height: 85%;
    }
} 

@media only screen and (max-width: 950px) {
   nav {
    margin-right: 0%;
   }

   .logo-container {
       width: 100px;
   }

   .logo-title {
       visibility: hidden;
   }
   
   .pr-page-box {
       width: 40%;
       height: 25vw;
   }

   footer {
       font-size: 0.75rem;
   }
} 



@media only screen and (max-width: 820px) {
    nav {
        font-size: 1.2rem;
        margin-left: 10%;
    }
    
    header {
        height: 55px;
    }

    .border-left {
        height: 52px;
    }
    
    .border-right {
        margin-right: 70px;
        height: 52px;
    }

    .logo-container {
        width: 40px;
        height: 40px;   
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .switch-title {
        font-size: 0.9rem;
    }

    .switch-container {
        width: 110px;
        height: 50px;
    }
    
    .switch {
        width: 50px;
        height: 100%;
    }

   .boxes {
       flex-direction: column-reverse;
       height: 110vw;
       flex-wrap: nowrap;
       align-items: center;
   }
   
   .box {
    width: 80vw;
    margin-top: 7%;
    height: 75%;
   }

   .skills {
       width: 90%;
   }

   .projects-container {    
    height: 25vw;  
    }

    .menu {
    width: 100%;
    }

    .projects h2 {
        margin: 1rem 4rem 0 0;
    }

    h1,
    strong {
        font-size: 2rem;
    }

    h1 {
        margin-left: 5rem;
    }

    .curr-name {
        margin-top: 3%;
       font-size:  1.17rem;
    }

    .curr-description {
        margin-top: 4%;
        font-size: 0.83em;
    }

    main h2 {
        font-size: 1.6rem;
    }

    .based {
    font-size: 1.17rem;
    margin-left: 3rem;
    }

    .contact {
        padding: 0.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }   
 } 

 

 @media only screen and (max-width: 710px) {
    header {
        height: 40px;
    }
    
    nav {
        margin-left: 7%;
        font-size: 1rem;
    }
    .border-left {
        height: 38px;
    }
    
    .border-right {
        margin-right: 70px;
        height: 38px;
    }

    
    .logo-container {
        width: 30px;
        height: 30px;  
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .switch-container {
        width: 80px;
        height: 35px;    
    }

    .switch-title {
        font-size: 0.5rem;
    }
    
    .switch {
        width: 35px;
        height: 100%;
        margin-left: -45px;
    }


    .switch:active {
        animation: switch-rotate-2 0.3s forwards;
    }

    .skills {
        height: 70px;
    }

    .skill {
        width: 30px;
        height: 30px;
    }

    .pr-page-box {
        width: 80%;
        height: 50vw;
        margin: 3% auto;
    }

    .hidden {
        display: none;
    }
 } 
 
@media only screen and (max-width: 580px) {
    .pr-page-box h2 {
        font-size:  1.25rem;
    }

    .pr-page-box h3 {
        font-size:  1rem;
    }
    
    .skills {
        margin-top: 20%;
    }
    nav {
        font-size: 0.8rem;
    }

    .boxes {
        padding-top: 50px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .contact-box a {
        width: 70px;
       
    }

    .contact-main h1 {
        font-size: 1.5rem;
    }

    .contact-main h2 {
        font-size: 1.25rem;
    }

    strong {
        font-size: 1.5rem;
    }

    .projects a {
        font-size: 1rem;
    }

    .curr-description {
        font-size: 0.75rem;
    }

    main h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .contact {
        padding: 0rem;
        margin-bottom: 2%;
    }

    .contact h3 {
        margin: 0;
    }
   
}



@media only screen and (max-width: 515px) {
    nav {
        font-size: 0.7rem;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 470px) {
  
    .contact-main h1 {
        margin-left: 23%;
        margin-top: 4%;
        font-size: 1.2rem;
    }

    .boxes {
       padding-top: 20%;
   }
   
    .box {
        height: 80%;
    }
    
    .skills {
        height: 120px;
       flex-wrap: wrap;
    }
    .skill {
        width: 100px;
        height: 40px;
        background-position: center;
    }

    .menu {
        height: 40px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: start;
    }

  
    .buttons {
        margin: 4px auto;
        width: 90%;
        text-align: center;
    }
  

    /* .menu:hover {
        height: 220px;
        flex-direction: column;
    } */

    /* .menu:active {
        height: 220px;
        flex-direction: column;
    } */

   .menu-button {
      display: block;
       height: 20px;
       width: 100%;
       text-align: center;
   }

   

    .menu-button-container {
        display: flex;
       justify-content:space-evenly;    
        width: 100%;
        height: 220px;
    }

    .menu-button-container a {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    nav {
        width: 60%;
        margin-left: 14%;
        font-size: 1.25rem;
    }
    
    .hamburger {
        width: 30px;
        height: 30px;
        background-image: url(../images/hamburger-classic-37-37.svg);
        background-repeat: no-repeat;
    }
   
    .pr-page-container {
        height: 110vw;
    }
   
    .pr-page-box h2 {
        font-size: 1.5rem;
    }
    .pr-page-box h3 {
        font-size: 1.2rem;
    }

    footer {
        font-size: .5rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    .contact-main h2 {
        font-size: 1rem;
    }

    .skills {
        margin-top: 20%;
    } 
}

@media only screen and (max-width: 380px) {
   #inline {
       --corner: 15px;
   }
   
    nav {   
        margin-left: 18%;     
    }
    
    .pr-page-box h2 {
        font-size: 1rem;
    }
    .pr-page-box h3 {
        font-size: 0.8rem;
    }

    h1 {
        margin-left: 15%;
        font-size: 1rem;
    }

    .projects h2 {
        margin: 0.3rem 4rem 0 0;
    }

    strong {
        font-size: 1.2rem;
    }

    .boxes {
       
        padding: 0;
        height: 500px;
    }
    .contact-main h2 {
        font-size: 1rem;
    }

    .contact {
        width: 100px;
        height: 40px;
        
    }

    .contact-box a {
        width: 50px;
    }

    .contact .corner-button {
        --top-left:15px;
        --bottom-right:15px;
    }

    .skills{
        margin-top: 15%;
        height: 250px;
        
    }

    .skills-padding {
        height: auto;
    }

    main h2 {
        font-size: 1rem;
    }

    .based {
        font-size: 0.8rem;
        margin-left: 5%;
    }
}


/* IGNORE FOR NOW
/* 
.lines {
    height: 0.14vw;
    min-height: 1.5px;
    
    
}

.line-1 {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 60px);
    left: 49.25%;
    transform: rotate(-45deg);
    z-index: 1;
    background-color: white;
}

.line-1-anim {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 60px);
    left: 49.25%;
    transform: rotate(-45deg);
    background-color: white; 
    z-index: 0;
}
.backline {
    height: 0.14vw;
    min-height: 1.5px;
}
.line-transparent {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 40px);
    left: 48%;
    transform: rotate(-45deg);
    z-index: 4;
    border: 20px solid rgb(0, 0, 255, 0);;
    
}

.lines.animated {
      -moz-animation: linetrill 1s;
    -webkit-animation: linetrill 1s;
 
    animation: linetrill 1s;
}



/* @keyframes line-trill {
    0% {
        height: 0.14vw;
        min-height: 1.5px;
    }
    
    25% {
        height: 0.2vw;
    }

    50% {
        height: 1.4vw;
    }

    75% {
        height: 0.2vw;
    }

    100% {
        height: 0.14vw;
        min-height: 1.5px
    }
} */

/* @-webkit-keyframes linetrill {
    0% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
    
    25% {
        top: calc(35.9vh + 55px);
    left: 49.1%;
    }

    50% {
        top: calc(35.9vh + 50x);
    left: 49%;
    }

    75% {
        top: calc(35.9vh + 55px);
        left: 49.1%;
    }

    100% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
}

@-moz-keyframes linetrill {
    0% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
    
    25% {
        top: calc(35.9vh + 55px);
    left: 49.1%;
    }

    50% {
        top: calc(35.9vh + 50x);
    left: 49%;
    }

    75% {
        top: calc(35.9vh + 55px);
        left: 49.1%;
    }

    100% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
}

@keyframes linetrill {
    0% {
     
    }
     30% {
        
     }
    
    100% {
        top: 0vh;
    left: 0%;
    
    transform: scale(0, 0);
    
    }
}




@-webkit-keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
      animation-timing-function: ease-out;
    }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
@-moz-keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
      animation-timing-function: ease-out;
    }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
@keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
       }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
#container { position:relative; }
.box { 
    position: relative;
    float:left;
    background:#f00; 
    width:5px;
    height:5px;
    margin-right:5px;
}
.box.animate { 
    -moz-animation: bounce 1s;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
} */ 