
body {
    height: calc(100vh-2px);
    font-family: 'Major Mono Display', monospace;
    color: white;
}

header {
    height: 70px;
    background-color: black;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
  
    margin-right: 10%;
    font-size: 2rem;
    
}


    

h1, h2{
    text-align: center;
}
h1 {
    margin-left: 5rem;
    font-size: 2rem;
}
.background h2 {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.based {
    margin-top: 2.5rem;
    margin-left: 3rem;
}

.projects h2 {
    font-size: 2rem;
    margin: 1rem 4rem 0 0;
}
h2 {
    
    /* font-family: 'IBM Plex Mono', monospace;
    font-family: 'Space Mono', monospace; */
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 3rem;
}
.background {
    height: calc(100vh - 72px);
    width: 100%;
    background-image: url(../images/background-12.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: background 300s infinite linear;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 20%;
    height: 70px;  
    
}


/*    EXPERIMENTAL    */
.corner-nav {
     
    --all:0px;
    --b: white;
 
    
    
    background:
      
      
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 0px)    ,transparent 0) top left    /50% 50%,
      
       var(--img,red);
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
  
  
}

.corner-button {
    
        --all:0px;
        --b: white;
     
        
        
        background:
          
           linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 1px),transparent 0) bottom right/50% 50%,
           linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
          
           var(--img,red);
        background-origin:border-box;
        background-repeat:no-repeat;
        -webkit-mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
         -webkit-mask-size:50.5% 50.5%;
         -webkit-mask-repeat:no-repeat;
      
      
  }

  .corner-box {
    --all:0px;
    --b:white;
    
    
   
    background:
       linear-gradient(  45deg, var(--b) 0 calc(var(--bottom-left,var(--all)) + 2px) ,transparent 0) bottom left /50% 50%,
       linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
       linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2.5px)    ,transparent 0) top left    /50% 50%,
       linear-gradient(-135deg, var(--b) 0 calc(var(--top-right,var(--all)) + 1.5px)   ,transparent 0) top right   /50% 50%,
       var(--img,red);
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
     -webkit-mask-size:50.5% 50.5%;
     -webkit-mask-repeat:no-repeat;
  }

/*    END OF EXPERIMENTAL    */


.logo {
    
    margin-left: 1rem;
    width: 55px;
    height: 55px;
    background-image: url(../images/Title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    animation: pulsate 8s linear 1s infinite;
}

.logo-title {
    background-image: url(../images/logo-title-23.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 70px;
    margin-top: 10px;
    margin-left: 23px;
}

.border-left {
    transform: skew(30deg);
    margin: 0 20px;
    width: 10px;
    border-right: 2px solid white;
    height: 70px;
}

.border-right {
    transform: skew(-30deg);
   position: absolute;
   margin-right: 100px;
    width: 10px;
    border-right: 2px solid white;
    height: 70px;
}



.button {
    padding: 5px;
    animation: navi 0.3s forwards;
    transform: skew(30deg);
    position: relative;
    border: 2px solid transparent;
}

.button:hover {
    
    animation: uncontact 0.3s forwards;
}

.buttons {
    padding: 5px;
    animation: navis 0.3s forwards;
    transform: skew(30deg);
    position: relative;
    border: 2px solid transparent;
}

.buttons:hover {
    
    animation: uncontacts 0.3s forwards;
}

.box {
    border: 2px solid white;
    border-radius: 3px;
    background-color: black;
    width: 30%;
    height: 50%;
    
}


.switch-container {
    display: flex;
    width: 130px;
    justify-content: space-around;
    align-items: center;
}

.switch {
    background-image: url(../images/portfolio-triangle-05.svg);
    width: 60px;
    height: 60px;
  margin-left: 20px;;
  background-repeat: no-repeat;
  animation: switch-unchange 0.3s forwards;
}

.switch:hover {
    /* background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg); */
    background-repeat: no-repeat;
    animation: switch-change 0.3s forwards;
}

.switch:active {
   /* transform: rotate(240deg); */
    /* margin-top: 20px;
   margin-right: 8px;  */
  /* margin-left: 5px;

overflow:hidden; */
    animation: switch-rotate 0.3s forwards;
}

.contact {
    border: 2px solid white;
background-color: white;
color: black;
width: 150px;
height: 50px;
border-radius: 1px;
padding: 0.5rem;
text-decoration: none;
font-size: 1.5rem;
font-weight: 900;
margin-top: 8%;
margin-left: 10%;
display: flex;
align-items: center;
justify-content: center;
animation: uncontact 0.3s forwards;
}

.contact:hover {
   animation: contact 0.2s forwards;
}

.contact:active {
   transform: scale(0.95);
}

.dissapear {
    animation: diss 3s infinite ease-in;
}
/*     ANIMATION     */

@keyframes background {
    0% {
        background-position: center;
    }

    25% {
        background-position: right;
    }

    50% {
        background-position: center;
    }

    75% {
        background-position: left;
    }

    100% {
        background-position: center;
    }


}

@keyframes switch-rotate {
0% {
    background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
}

    100% {
        background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
        transform: rotate(240deg);
        transform-origin: 50% 66%;
        margin-bottom: 7px;
        
    }
}

@keyframes switch-unchange {
    0% {
        
        background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
    }

    100% {
        background-image: url(../images/portfolio-triangle-05.svg);
    }
}

@keyframes switch-change {
    0% {
        background-image: url(../images/portfolio-triangle-05.svg);
    }

    100% {
        background-image: url(../images/portfolio-classic-triangle-hover-05-05.svg);
    }
}

@keyframes navis {
    0% {
        background-color: white;
        border: 2px solid white;
        color: black;
    }
    100% {
        background-color: black;
        border: 2px solid black;
        color: white;
    
    }
}
@keyframes uncontacts {
    0% {
        background-color: black;
        border: 2px solid white;
        color: white;
        --all:0px;
        --b: white;
     
        
        
        background:
          
           linear-gradient( -45deg, var(--b) 0 calc(var(--bottom-right,var(--all)) + 2px),transparent 0) bottom right/50% 50%,
           linear-gradient( 135deg, var(--b) 0 calc(var(--top-left,var(--all)) + 2px)    ,transparent 0) top left    /50% 50%,
          
           var(--img,black);
        background-origin:border-box;
        background-repeat:no-repeat;
        -webkit-mask:
           linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
           linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
           linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
           linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
         -webkit-mask-size:50.5% 50.5%;
         -webkit-mask-repeat:no-repeat;
      
      
    }
    
    100% {
        background-color: white;
      
        color: black;
}}

@keyframes navi {
    0% {
        background-color: white;
        outline: 2px solid black;
        color: black;
    }
    100% {
        background-color: black;
        
        color: white;
    
    }
}

@keyframes uncontact {
    0% {
        background-color: black;
        outline: 2px solid white;
        color: white;
    }
    
    100% {
        background-color: white;
      
        color: black;
}
}
@keyframes contact {
    100% {
        background-color: black;
        outline: 2px solid white;
        color: white;
}
}

@keyframes diss {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pulsate {
   
    25% {
        
        
       
        transform: scale(1.29);
    }
    50% {
       
        transform: scale(1.0);
        
    }
}

/* IGNORE FOR NOW
/* 
.lines {
    height: 0.14vw;
    min-height: 1.5px;
    
    
}

.line-1 {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 60px);
    left: 49.25%;
    transform: rotate(-45deg);
    z-index: 1;
    background-color: white;
}

.line-1-anim {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 60px);
    left: 49.25%;
    transform: rotate(-45deg);
    background-color: white; 
    z-index: 0;
}
.backline {
    height: 0.14vw;
    min-height: 1.5px;
}
.line-transparent {
    width: 252px;
    position: absolute;
    top: calc(35.9vh + 40px);
    left: 48%;
    transform: rotate(-45deg);
    z-index: 4;
    border: 20px solid rgb(0, 0, 255, 0);;
    
}

.lines.animated {
      -moz-animation: linetrill 1s;
    -webkit-animation: linetrill 1s;
 
    animation: linetrill 1s;
}



/* @keyframes line-trill {
    0% {
        height: 0.14vw;
        min-height: 1.5px;
    }
    
    25% {
        height: 0.2vw;
    }

    50% {
        height: 1.4vw;
    }

    75% {
        height: 0.2vw;
    }

    100% {
        height: 0.14vw;
        min-height: 1.5px
    }
} */

/* @-webkit-keyframes linetrill {
    0% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
    
    25% {
        top: calc(35.9vh + 55px);
    left: 49.1%;
    }

    50% {
        top: calc(35.9vh + 50x);
    left: 49%;
    }

    75% {
        top: calc(35.9vh + 55px);
        left: 49.1%;
    }

    100% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
}

@-moz-keyframes linetrill {
    0% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
    
    25% {
        top: calc(35.9vh + 55px);
    left: 49.1%;
    }

    50% {
        top: calc(35.9vh + 50x);
    left: 49%;
    }

    75% {
        top: calc(35.9vh + 55px);
        left: 49.1%;
    }

    100% {
        top: calc(35.9vh + 60px);
    left: 49.25%;
    }
}

@keyframes linetrill {
    0% {
     
    }
     30% {
        
     }
    
    100% {
        top: 0vh;
    left: 0%;
    
    transform: scale(0, 0);
    
    }
}




@-webkit-keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
      animation-timing-function: ease-out;
    }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
@-moz-keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
      animation-timing-function: ease-out;
    }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
@keyframes bounce {
    0% {
      top: 0;
      animation-timing-function: ease-out;
    }
    17% {
      top: 15px;
      animation-timing-function: ease-in;
    }
    34% {
      top: 0;
      animation-timing-function: ease-out;
    }
    51% {
      top: 8px;
      animation-timing-function: ease-in;
    }
    68% {
      top: 0px;
       }
    85% {
      top: 3px;
      animation-timing-function: ease-in;
    }
    100% {
      top: 0;
    }
}
#container { position:relative; }
.box { 
    position: relative;
    float:left;
    background:#f00; 
    width:5px;
    height:5px;
    margin-right:5px;
}
.box.animate { 
    -moz-animation: bounce 1s;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
} */ 